/* CSS Document */

.img-1{
	background-image: url("images/bg-masthead.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.br-1 {
	height:500%;
}

.text-1 {
	padding: 10%;
}


.icon-1 {
	font-size:500%;
}
.text-resize {
	font-size: 20%;
}

.text-2 {
	margin:0px auto;
}

.list {
	display: inline-block;
	padding-right: 5%
}

.icon-2 {
	font-size:200% 
}
@media (max-width:768px){
	.size{
		font-size:35px;
	}
	.text-2 h1{
		font-size: 30px;
	}
}

.decorate {
	display: none;
	position: fixed;
	z-index: 99;
	cursor: pointer;
	bottom: 20px;
	right:30px;
}
