/* CSS Document */
*{
	padding: 0 ;
	margin: 0 ;
}
.container-fluid{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.background {
	background-image: url("181010131059-australia-best-beaches-cossies-beach-cocos3-full-169.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: 100%;
}

.heading-1 {
	line-height: 700px !important; 
	z-index: 2;
}
.darken {
	position: absolute;
	background-color: black;
	width: 100%;
	height:inherit;
	opacity: 0.4;
	z-index: 0;
}
.fix {
	padding-top:15%;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.text-fix i{
	font-size: 50px;
}

.filter ul{
	display: inline;
}
.filter li{
	list-style-type: none;
	float: left;
	margin-left: 50px;
}
.filter li a{
	color: gray;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #969696;
}
textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #969696;
}

.style-btn {
	border-radius:50px !important;
}
.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
