/* CSS Document */
*{
	padding: 0 ;
	margin: 0 ;
}
.container-fluid{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.background {
	background-image: url("181010131059-australia-best-beaches-cossies-beach-cocos3-full-169.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: 100%;
}

.heading-1 {
	line-height: 700px !important; 
	z-index: 2;
}
.darken {
	position: absolute;
	background-color: black;
	width: 100%;
	height:inherit;
	opacity: 0.4;
	z-index: 0;
}
.fix {
	padding-top:15%;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.text-fix i{
	font-size: 50px;
}

.filter ul{
	display: inline;
}
.filter li{
	list-style-type: none;
	float: left;
	margin-left: 50px;
}
.filter li a{
	color: gray;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #969696;
}
textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #969696;
}

.style-btn {
	border-radius:50px !important;
}
.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

@media (max-width:414px){
	.fix-text li {
		font-size: 15px;
	
		
	}
}
